@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
   --purple: #8e44ad;
   --red: #c0392b;
   --orange: #f39c12;
   --black: #333;
   --white: #fff;
   --light-color: #666;
   --light-white: #ccc;
   --light-bg: #f5f5f5;
   --border: .1rem solid var(--black);
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   --transparent: rgba(255, 255, 255, 0.4);
   --blue: dodgerblue;
   --lightBlue: lightBlue;
   --darkGrey: darkGrey;
}

* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   transition: all .2s linear;
}

*::selection {
   background-color: var(--light-bg);
   color: var(--white);
}

*::-webkit-scrollbar {
   height: .5rem;
   width: 1rem;

}

*::-webkit-scrollbar-track {
   background-color: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--blue);
}

body {
   font-size: 62.5%;
   overflow-x: hidden;
}

@keyframes fadeIn {
   0% {
      transform: translateY(1rem);
      opacity: .2s;
   }
}

header {
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.header .flex {
   display: flex;
   align-items: center;
   padding: 0.6rem;
   justify-content: space-between;
   position: relative;
   width: 100%;
   margin: 0 auto;
}

.header .flex .logo {
   font-size: 1.3rem;
   color: var(--black);
}

.header .flex .logo span {
   font-size: 0.9rem;
   color: var(--blue);
}

.header .flex .navbar a {
   margin: 0 1rem;
   font-size: 1rem;
   color: var(--black);
}

.header .flex .navbar a:hover {
   color: var(--blue);
}

.header .flex .icons div {
   margin-left: 1.5rem;
   font-size: 2.5rem;
   cursor: pointer;
   color: var(--black);
}

.header .flex .icons div:hover {
   color: var(--blue);
}

.header .flex .account-box {
   position: absolute;
   top: 120%;
   right: 2rem;
   width: 30rem;
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
   border-radius: .5rem;
   border: var(--border);
   background-color: var(--white);
   display: none;
   animation: fadeIn .2s linear;
}

.header .flex .account-box.active {
   display: inline-block;
}

.header .flex .account-box p {
   font-size: 2rem;
   color: var(--light-color);
   margin-bottom: 1.5rem;
}

.header .flex .account-box p span {
   color: var(--blue);
}

.header .flex .account-box .delete-btn {
   margin-top: 0;
}

.header .flex .account-box div {
   margin-top: 1.5rem;
   font-size: 2rem;
   color: var(--light-color);
}

.header .flex .account-box div a {
   color: var(--orange);
}

.header .flex .account-box div a:hover {
   text-decoration: underline;
}

.title {
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
   color: var(--black);
   font-size: 1.4rem;
   text-decoration: underline;
}

#menu-btn {
   display: none;
}


section {
   padding: 3rem 2rem;
}

.btn,
.option-btn,
.delete-btn,
.white-btn {
   display: inline-block;
   margin-top: 1rem;
   padding: 0.5rem 0.9rem;
   cursor: pointer;
   color: var(--white);
   font-size: 0.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
}

.btn-update {
   background-color: var(--orange);
   display: inline-block;
   margin-top: 1rem;
   padding: 0.5rem 0.9rem;
   cursor: pointer;
   color: var(--white);
   font-size: 0.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
}

.btn-cancel {
   background-color: var(--purple);
   display: inline-block;
   margin-top: 1rem;
   padding: 0.5rem 0.9rem;
   cursor: pointer;
   color: var(--white);
   font-size: 0.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
}

.btn-update:hover {
   background-color: var(--darkGrey);
}

.btn-cancel:hover {
   background-color: var(--darkGrey);
}

.btn-submit {
   display: inline-block;
   margin-top: 1rem;
   padding: 0.5rem 0.9rem;
   cursor: pointer;
   color: var(--white);
   font-size: 0.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
   background-color: grey;
}

.btn:hover {
   background-color: var(--blue);
}


.option-btn:hover,
.delete-btn:hover {
   background-color: var(--darkGrey);
}

.btn-submit:hover {
   background-color: var(--blue);
}

.option-btn {
   background-color: var(--orange);
}

.delete-btn {
   background-color: var(--red);
}

.message {
   position: sticky;
   top: 0;
   margin: 0 auto;
   width: 100%;
   background-color: var(--white);
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10000;
   gap: 1.5rem;
}

.message span {
   font-size: 2rem;
   color: var(--black);
}

.message i {
   cursor: pointer;
   color: var(--red);
   font-size: 2.5rem;
}

.message i:hover {
   transform: rotate(90deg);
}



.dashboard .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   gap: 1.5rem;
   max-width: 1200px;
   margin: 0 auto;
   align-items: flex-start;
}

.dashboard .box-container .box {
   border-radius: .5rem;
   padding: 1.2rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border: var(--border);
   text-align: center;
}

.dashboard .box-container .box h3 {
   font-size: 1.5rem;
   color: var(--black);
}

.dashboard .box-container .box p {
   margin-top: 1.5rem;
   padding: 0.8rem;
   background-color: var(--light-bg);
   color: var(--blue);
   font-size: 1.2rem;
   border-radius: .5rem;
   border: var(--border);
}


.add-hotels form {
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   border: var(--border);
   max-width: 50rem;
   margin: 0 auto;
}

.add-hotels form h3 {
   font-size: 1.2rem;
   text-transform: uppercase;
   color: var(--black);
   margin-bottom: 1.5rem;
}

.add-hotels form .box {
   width: 100%;
   background-color: var(--light-bg);
   border-radius: .5rem;
   margin: 1rem 0;
   padding: 0.6rem 0.8rem;
   color: var(--black);
   font-size: 0, 6rem;
   border: var(--border);
}

.show-hotels .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 25rem);
   justify-content: center;
   gap: 1.5rem;
   max-width: 100%;
   margin: 0 auto;
   align-items: flex-start;
}

.show-hotels {
   padding-top: 0;
}

.show-hotels .box-container .box {
   text-align: center;
   padding: 2rem;
   border-radius: .5rem;
   border: var(--border);
   box-shadow: var(--box-shadow);
   background-color: var(--white);
}

.show-hotels .box-container .box img {
   height: 13rem;
   width: auto;
}

.show-hotels .box-container .box .name {
   padding: 1rem 0;
   font-size: 1.1rem;
   color: var(--black);
   text-decoration: underline;
}

.show-hotels .box-container .box .description {
   padding: 0.7rem 0;
   font-size: 1rem;
   color: var(--black);
}

.show-hotels .box-container .box .price {
   padding: 1rem 0;
   font-size: 1.2rem;
   color: var(--red);
}

.empty {
   padding: 1.5rem;
   text-align: center;
   border: var(--border);
   background-color: var(--white);
   color: var(--red);
   font-size: 2rem;
}

.edit-hotel-form {
   height: 100vh;
   background-color: rgba(0, 0, 0, .7);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   overflow-y: scroll;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1200;
   width: 100%;
}

.edit-hotel-form form {
   width: 50rem;
   padding: 1rem;
   text-align: center;
   border-radius: .5rem;
   background-color: var(--white);
}

.edit-hotel-form form img {
   height: 10rem;
   margin-bottom: 0.6rem;
}

.edit-hotel-form form .box {
   margin: 1rem 0;
   padding: 0.6rem 0.5rem;
   border: var(--border);
   border-radius: .5rem;
   background-color: var(--light-bg);
   font-size: 0.8rem;
   color: var(--black);
   width: 100%;
}

.bookings .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 20rem);
   justify-content: center;
   gap: 1.5rem;
   max-width: 1200px;
   margin: 0 auto;
   align-items: flex-start;
}

.bookings .box-container .box {
   background-color: var(--white);
   padding: 2rem;
   border: var(--border);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.bookings .box-container .box p {
   padding-bottom: 0.5rem;
   font-size: 0.8rem;
   color: var(--black);
}

.bookings .box-container .box p span {
   color: var(--blue);
}

.bookings .box-container .box form {
   text-align: center;
}

.bookings .box-container .box form select {
   width: 100%;
   background-color: var(--light-bg);
   border: var(--border);
   padding: 0.7rem 1rem;
   font-size: 0.8rem;
   color: var(--black);
   border-radius: 0.5rem;
}

.users .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 15rem);
   justify-content: center;
   gap: 1.5rem;
   max-width: 1200px;
   margin: 0 auto;
   align-items: flex-start;
}

.users .box-container .box {
   background-color: var(--white);
   padding: 0.6rem;
   border: var(--border);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   text-align: center;
}

.users .box-container .box p {
   padding-bottom: 0.6rem;
   font-size: 0.8rem;
   color: var(--light-color);
}

.users .box-container .box p span {
   color: var(--blue);
}

.users .box-container .box .delete-btn {
   margin-top: 0;
}



.messages .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 15rem);
   justify-content: center;
   gap: 1.5rem;
   max-width: 1200px;
   margin: 0 auto;
   align-items: flex-start;
}

.messages .box-container .box {
   background-color: var(--white);
   padding: 0.6rem;
   border: var(--border);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   text-align: center;
}

.messages .box-container .box p {
   padding-bottom: 0.6rem;
   font-size: 0.8rem;
   color: var(--light-color);
}

.messages .box-container .box p span {
   color: var(--blue);
}

.messages .box-container .box .delete-btn {
   margin-top: 0;
}




/* -----------------Media Queries--------------------------------- */
@media (max-width:991px) {

   html {
      font-size: 55%;
   }

}

@media (max-width:768px) {

   #menu-btn {
      display: inline-block;
   }

   .header .header-2 .flex .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .header-2 .flex .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .header-2 .flex .navbar a {
      display: block;
      font-size: 2.5rem;
      margin: 2rem;
   }

   .home .content h3 {
      font-size: 3.5rem;
   }

}

@media (max-width:450px) {

   html {
      font-size: 50%;
   }

   .heading h3 {
      font-size: 3.5rem;
   }

   .title {
      font-size: 3rem;
   }

}